<%= form_with(model: @teacher_class, local: true, id:"new_teacher_class") do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, Category.order(:id), :id, :title, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Images:" %><br />
    <%= f.file_field :image %>
  </div><br />

  <div class="field">
    <%= f.label :min_students %><br />
    <%= f.number_field :min_students, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :max_students %><br />
    <%= f.number_field :max_students, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    $<%= f.number_field :price, autofocus: true %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Post Class" %>
  </div>

<% end %>