
<% if @teacher_classes %>
  <% @teacher_classes.each do |teacher_class| %>
    <%= link_to teacher_class_path(teacher_class.id) do %>
      <button id="class_<%= teacher_class.id %>">
        <p><%= teacher_class.title %> (Lessons TBA)</p>
        <p><%= Teacher.find(teacher_class.teacher_id).title %> <%= Teacher.find(teacher_class.teacher_id).last_name %></p>
        <p><%= teacher_class.min_students %>-<%= teacher_class.max_students %> students</p>
        <p>Current Enrollments: 0</p>
        <p>Price: $<%= teacher_class.price %>0</p>
        <p>
          <% if teacher_class.description.length > 100 %>
            <%= teacher_class.description[0..99] %>...
          <% else %>
            <%= teacher_class.description %>
          <% end %>
        </p>
      </button>
    <% end %>
  <% end %>
<% end %>