<!DOCTYPE html>
<html>
  <head>
    <title>VirtualTeachingCenter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <section id=auth_links_area> 
      <% if teacher_signed_in? %>
        <%= link_to "Logout", destroy_teacher_session_path, method: :delete %>
      <% else %>
        <%= link_to "Register", new_teacher_registration_path %>
        <%= link_to "Login", new_teacher_session_path %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
